/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-accent {
    @apply rounded-full bg-teal-400 text-white;
  }

}

.event-card {
  gap: 2rem;
}
